<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tracking Order</title>
        <meta charset="utf-8">
            <!-- bootstrap vs fontawesome-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                    <link rel="icon" th:href="@{/Assets_Web/img/favicon.png}" type="image/x-icon"/>
                    <link rel="stylesheet" type="text/css" th:href="@{/Assets_Web/sass/css/style-about.css}">
                        <link rel="stylesheet" type="text/css" th:href="@{/Assets_Web/sass/css/style-res-about.css}">
                            <link rel="stylesheet" type="text/css" th:href="@{/Assets_Web/sass/css/style-faq.css}">
                                <link rel="stylesheet" type="text/css"th:href="@{/Assets_Web/sass/css/style-tracking.css}">
                                    <link rel="stylesheet" type="text/css"th:href="@{/Assets_Web/sass/css/style-fix-nav.css}">
                                        <link rel="stylesheet" type="text/css"th:href="@{/Assets_Web/sass/css/style-form-search-mobile.css}">
                                            <!-- slick -->

                                            <!-- GG FONT -->
                                            <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
                                                <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
                                                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
                                                        </head>
                                                        <body>
                                                            <style  th:replace="Fragment_App/fragments_app::icon_whatsaapp"></style>
                                                            <div th:replace="Fragment_App/fragments_app::icon_what_msg" ></div>


                                                            <!-- Header fragment -->
                                                            <header th:replace="Fragment_App/fragments_app::header_app2"></header>
                                                            <main>

                                                                <div class="banner">
                                                                    <div class="container">
                                                                        <figure id="banner-about"><a href="#"><img th:src="@{/Assets_Web/img/1350x500.png}" class="img-responsive" alt="img-holiwood"></a></figure>
                                                                        <div class="title-banner">
                                                                            <h1>Seguimiento de pedido</h1>
                                                                            <p><a th:href="@{/}" title="Home">Inicio</a><i class="fa fa-caret-right"></i>Seguimiento de pedido</p>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                                <div class="container container-ver2 order-tracking space-padding-tb-30">
                                                                    <p>Ingrese su ID de pedido en el cuadro a continuación y presione Entrar. Esto se le proporcionó en su recibo y en el correo electrónico de confirmación que debería haber recibido.</p>
                                                                    <div class="tracking-content center">
                                                                        <form class="form-horizontal">
                                                                            <div class="box space-20">
                                                                                <label for="inputfname" class="control-label">ID de pedido</label>
                                                                                <input id="inputfname" class="form-control" type="text">
                                                                            </div>
                                                                            <!--<div class="box space-40">
                                                                                <label for="email" class="control-label">BILLING EMAIL</label>
                                                                                <input id="email" class="form-control" type="text">
                                                                            </div>-->
                                                                            <a class="link-v1 lh-50 rt" href="#" title="PLACE ORDER">SEGUIR</a>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </main>
                                                            <footer th:replace="Fragment_App/fragments_app::footer"></footer>

                                                            <!-- boostrap & jquery -->
                                                            <script th:src="@{/Assets_Web/js/jquery.min_af.js}"></script>
                                                            <script  th:src="@{/Assets_Web/js/bootstrap.min_0028.js}"></script>

                                                            <!-- js file -->
                                                            <script  th:src="@{/Assets_Web/js/function-back-top.js}"></script>
                                                            <script  th:src="@{/Assets_Web/js/function-sidebar.js}"></script>
                                                            <script  th:src="@{/Assets_Web/js/funtion-header-v3.js}"></script>
                                                            <script  th:src="@{/Assets_Web/js/function-search-v2.js}"></script>
                                                        </body>
                                                        </html>